@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
  background-image: url('https://static.wixstatic.com/media/618c8c_2c491f4204b84dc09f043ee3290ba12f~mv2.png') !important;

  /* background: rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(8.4px); */

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  color: white !important;
}

.navbar-toggler {
  color: white !important;
}


.nav-brand {
  color: rgb(197, 71, 71) !important;
}

h1 {
  font-size: 20px !important;
}

.flex-container {
  display: flex !important;
}

.btn {
  background-color: red !important;
  color: white !important;

}

select {
  box-shadow: none !important;
  border-color: black !important;
}

.fa-plus {
  color: green;
  margin: 5px;
}

.fa-minus {
  color: red !important;
  margin: 5px;
}

.fa-trash {
  color: red !important;
}

input {
  margin-top: 10px !important;
  box-shadow: none !important;
}

.dropdown-toggles {
  text-decoration: none;
}

.text-start {

  text-decoration: none;
}

.fa-trophy {
  color: orange !important;
}

.box {

  background: rgba(255, 255, 255, 0.23);
  border-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.dPtfaF {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  /* background-color: rgba(255, 255, 255, 0.23) !important */
}

.gvSceB {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* background-color: rgba(255, 255, 255, 0.23) !important; */
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* about us page */




.content-section {
  float: left;
  width: 55%;
}

.image-section {
  float: right;
  width: 40%;
  margin-top: 4%;

}

.image-section img {
  width: 100%;
  height: auto;
}

.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}

.content-section .content h1 {
  margin-top: 15px;
  color: #111010;
  font-size: 40px !important
}

.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.content-section .content .button {
  margin-top: 30px;
}

.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
  background-color: #a52a2a;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px !important
  }

  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }

  .image-section {
    float: none;
    width: 100%;

  }

  .image-section img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  .content-section .title {
    text-align: center;
    font-size: 19px;
  }

  .content-section .content .button {
    text-align: center;
  }

  .content-section .content .button a {
    padding: 9px 30px;
  }

  .content-section .social {
    text-align: center;
  }

}




/* FAQ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.faq {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif
}

body {
  background-image: linear-gradient(to right top, #9ecff5, #7096F8);
  min-height: 100vh
}

.wrapper {
  max-width: 760px;
  margin: 50px auto;
  padding: 40px 20px
}




.wrapper .accordion-button {
  font-size: 0.9rem;
  font-weight: 500
}

.wrapper .accordion-button:hover {
  background-color: #f8f8f8
}

.wrapper .accordion-button:focus {
  box-shadow: none
}

.wrapper .accordion-button::after {
  background-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8c8c8;
  background-position: center center;
  border-radius: 50%
}

.wrapper .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #f7f7f7;
  font-weight: 600;
  border-bottom: 1px solid #ddd !important
}

.accordion-button:not(.collapsed)::after {
  border-color: #1E88E5
}

.wrapper .accordion-button.collapsed {
  border-bottom: 1px solid #ddd !important
}

.wrapper .accordion-collapse.show {
  border-bottom: 1px solid #ddd !important
}

.wrapper .accordion-collapse {
  background-color: #eaf3fa
}



@media (max-width: 365px) {
  .wrapper {
    margin: 50px 10px
  }

  .w-75 {
    width: 90% !important
  }
}


.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap !important;
  background-color: transparent;
  border: 0;
}

.dropdown-menu {
 
  --bs-dropdown-link-active-bg: red !important;
  --bs-dropdown-min-width: 14rem !important;
}
.img-jmbo{
background-image: url('https://static.wixstatic.com/media/618c8c_d0fbd952ba41475a9f08ae4833ef0f77~mv2.jpg');
background-size: 100%,100%;
}



@import url('https://fonts.googleapis.com/css2?family=Crushed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crushed&family=Signika+Negative:wght@500&display=swap');


h10 {
  font-family: 'Crushed', cursive;
  font-weight: bold;
  color: #670001;
 
}

h9 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  color: #670001;
 
}
h15 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  color: #ffffff;

 
}
h16 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  color: #ffffff;
  
  

 
}


h20 {
  font-family: 'Signika Negative', sans-serif;
  font-weight: bold;
  color: #000000;
  
  
}

p10 {
  
  line-height: 1.5;
  font-family: "Mukta", calibri;
  font-style: italic;
  font-size: 110%;
  
 
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       /* body{
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       } */

       .height{
        height: 100vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
       border-radius: 50%
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
        


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid #000000;


       } 

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }


      
       .react-data-table-component {
        font-size: 54px;
      }
      


      .financemanagerfunctions{
        margin-top: 20px;
        padding: 20px;
        background-color:rgb(243, 238, 238) ;
      }
      
      .financemanagerfunctions li{
        list-style-type:none !important;
        font-size: 18px;
        display: inline !important;
        color: black !important;
      }
      
      .financemanagerfunctions li a{
        color: black !important;
        padding: 25px;
        text-decoration: none;
      }



